//imports
@import '_variables.scss';
@import '_mixins.scss';
//house keeping stuff

html {
    margin: 0;
    background-color: $white-color;
}
//main content
body {
    margin: 0;
    font-family: $font-headers;
}
//                                 Logo area 
.logo {
    border: 1px solid black;
    margin: 0;
    max-width: 100%;
    .header-image {
        @include header-image;
    }   
}
//                              nav bar section
.nav-bar {
    @include test;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    ul {
        li{
            display: inline;
            a{
                padding: 8px;
                text-decoration: none;
                color: $secondary-color;
                font-size: $regular-font;
                font-weight: $text-weight;
            }
        }
    }
}
//                       Main Content here
#wrapper {
    .column-row{
        @include column-rows;
        .left-content{
            @include two-sided-columns;
            @include test;
            h1{
                @include test;
                text-align: center;
            }
            p{
                @include test;
                margin: 30px;
            }
        }
        .right-content{
            @include two-sided-columns;
            @include test;
        }
    }
}
//                       Footer section
#footer-area {
    @include test;
}